/* !google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ! variables */
:root {
  --main-color: #4831d4;
  --body-bg: #f9f9f9;
  --Secondary-color: #ccf381;
  --secondary-text-color: #3d155f;
}
/* Global settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: b;
}
body {
  font-family: "Lexend Deca", sans-serif;
  background-color: var(--body-bg);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
p,
a,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}
